/* CSS declarations go here */
H1 {font-weight: 900;}

.row {
  margin: 0 !important;
}

#bizcanvas {
  width: 100%;
  background-color: #eee;
}

#bizcanvas H4 {
  font-weight: 700;
  font-size: 1em;
}

#backlog {
  height: 90px;
}

.drag-drop {
  display: inline-block;
  width: 120px;
  padding: 2em 0.5em;
  z-index: 9999;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.dropzone {
  min-height: 90px;
  min-width: 200px;
  padding: 3px;
}

#upper-row {
  border: 1px solid black;
}

#bottom-row {
  border: 1px solid black;
}

#keyPartners {

}

#customerSegments {

}

#costStructure {
  border-right: 1px solid black;
}

#keyResources {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#keyActivities {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#customerRel {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#channels {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.form-control {
  width: 200px !important;
}

.removebox {
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}
